; All settings related to performance
[Performance]
; [enum] If VehicleLights should use an active light node.
VehicleLightNode=2
; [bool] If VehicleLights light nodes should create shadows.
VehicleLightShadows=true

; All settings related to input
[Input]
; [bool] If the x axis of the mouse input should be inverted.
MouseXInverted=false
; [bool] If the y axis of the mouse input should be inverted.
MouseYInverted=false
; [int]  How sensitive mouse input should be
MouseSensitivity=2
